<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-menu>
        <md-button class="md-icon-button" aria-label="Settings"  ng-click="$mdOpenMenu()">
          <md-icon  md-menu-origin md-svg-icon="img/menu.svg"></md-icon>
        </md-button>


	<md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="navigate('home')">
              <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
	      <!--these icons are pointing at nothing, but in the meantime the empty space causes the menu to align nicely props for workaround. hi five yourself on the face if you think no one will read this comment-->

              Home
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button  ng-click="navigate('about')">
              <md-icon md-svg-icon="call:voicemail"></md-icon>
              About
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="navigate('gallery')">
              <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
              Gallery
            </md-button>
          </md-menu-item> <md-menu-item>
            <md-button ng-click="navigate('apply')">
	      <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
	      Apply
	    </md-button>
	  </md-menu-item> <md-menu-item>
	</md-menu-content>
      </md-menu>


      <h2>
	<span>CAPS LOCK Hi-Tech</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
	<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
	<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
      </md-button>
    </div>
</md-content>
